<h2> Gaming beef: The retro gaming community </h2>
<p>
  We arrange gaming events with everyone that has a free Sunday, including snacks, music and some LAN.
  The esports competitions can get very competitive and fun, so do bring yourself some popcorn if you decide to join in person or on our livestreams!
</p>
