<h2>Gaming Beef: The Retro Gaming Community</h2>
<p>
  We arrange gaming events with everyone that has a free Sunday, including snacks, music, and some LAN.
  The esports competitions can get very competitive and fun, so do bring yourself some popcorn if you decide to join in person or on our livestreams!
</p>
<div class="terminal">
  <span class="heading">Terminal</span>
  <span class="content">
    site@gamingbeef.exequtech.com:~/html$ echo "Join the retro revolution!"<br/>
    Join the retro revolution!
  </span>
</div>