<h2> Welcome to gaming beef! </h2>
<p class='terminal'>
  <span class='heading'> terminal </span>
  <span class='content'>
    site@gamingbeef.exequtech.com:~/html$ cat upcomingEvents.html <br/>
    cat: upcomingEvents.html: No such file or directory
  </span>
</p>
