<% if(name) { %>
  <h2>Thank you for reaching out to us, <%= name %>!</h2>
<% } else { %>
  <h2>Thank you for reaching out to us!</h2>
<% } %>
<p> We will reach out to you shortly concerning the query you sent. </p>
